In [20]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [21]:
dframe1 = DataFrame(np.arange(8).reshape(2,4),
                    index= pd.Index(['LA','SF'],name='city'),
                    columns=pd.Index(['A','B','C','D'],name='letter'))

In [22]:
dframe1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [23]:
dframe_st = dframe1.stack()
dframe_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [24]:
dframe_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [25]:
dframe_st.unstack('letter')

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [26]:
dframe_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7