In [12]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [13]:
dframe1 = DataFrame({'key':['X','Y','Z','X','Y','Z'],'data_set_1':np.arange(6)})

dframe1

  key  data_set_1
0   X           0
1   Y           1
2   Z           2
3   X           3
4   Y           4
5   Z           5

In [14]:
dframe2 = DataFrame({'key':['A','B','C'],'data_set_2':[1,2,3]})

dframe2

  key  data_set_2
0   A           1
1   B           2
2   C           3

In [15]:
pd.merge(dframe1,dframe2)

Empty DataFrame
Columns: [key, data_set_1, data_set_2]
Index: []

In [16]:
pd.merge(dframe1,dframe2, on="key",how='left')

  key  data_set_1  data_set_2
0   X           0         NaN
1   Y           1         NaN
2   Z           2         NaN
3   X           3         NaN
4   Y           4         NaN
5   Z           5         NaN

In [17]:
pd.merge(dframe1,dframe2, on="key",how='outer')

  key  data_set_1  data_set_2
0   X         0.0         NaN
1   X         3.0         NaN
2   Y         1.0         NaN
3   Y         4.0         NaN
4   Z         2.0         NaN
5   Z         5.0         NaN
6   A         NaN         1.0
7   B         NaN         2.0
8   C         NaN         3.0

In [18]:
dframe3 = DataFrame({'key':['X','Y','Z','X','Y','Z'],'data_set_3':range(6)})
dframe3

  key  data_set_3
0   X           0
1   Y           1
2   Z           2
3   X           3
4   Y           4
5   Z           5

In [19]:
dframe4 = DataFrame({'key':['Y','Y','X','X','Z'],'data_set_4':range(5)})
dframe4

  key  data_set_4
0   Y           0
1   Y           1
2   X           2
3   X           3
4   Z           4

In [20]:
pd.merge(dframe3,dframe4)

  key  data_set_3  data_set_4
0   X           0           2
1   X           0           3
2   X           3           2
3   X           3           3
4   Y           1           0
5   Y           1           1
6   Y           4           0
7   Y           4           1
8   Z           2           4
9   Z           5           4