In [9]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [10]:
dframe = DataFrame ({ 'city': ['Alma','Brian Head', 'Fox Park'],
                    'altitudr':[2158,3000,2782]
                    })

In [11]:
dframe

         city  altitudr
0        Alma      2158
1  Brian Head      3000
2    Fox Park      2782

In [12]:
start_map = {'Alma':'Colorado','Brain Head':'Utah','Fox Park':'Wyoming'}

In [13]:
dframe['start'] = dframe['city'].map(start_map)

In [14]:
dframe

         city  altitudr     start
0        Alma      2158  Colorado
1  Brian Head      3000       NaN
2    Fox Park      2782   Wyoming