In [29]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [30]:
dframe = pd.read_csv('text.csv')

In [31]:
dframe

   q  r  s  t    apple
0  2  3  4  5     pear
1  a  s  d  f  rabbits
2  5  2  5  7      dog

In [32]:
    dframe = pd.read_csv('text.csv', header = None)

In [33]:
dframe

   0  1  2  3        4
0  q  r  s  t    apple
1  2  3  4  5     pear
2  a  s  d  f  rabbits
3  5  2  5  7      dog

In [34]:
 dframe = pd.read_csv('text.csv', sep=',',header = None)

In [35]:
dframe

   0  1  2  3        4
0  q  r  s  t    apple
1  2  3  4  5     pear
2  a  s  d  f  rabbits
3  5  2  5  7      dog